/* inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* Lato */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

.cantainer {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/* header start */
header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo_text {
  font-size: 25px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: #263238;
}

.navigators {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav_links {
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #263238;
}

.header_btns {
  display: flex;
  align-items: center;
  gap: 14px;
}

.login_btn {
  padding: 10px 20px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #4caf4f;
  background-color: white;
}

.sing_btn {
  padding: 10px 20px;
  border: 1px solid #4caf4f;
  border-radius: 6px;
  color: #ffffff;
  font-size: 14px;
  background-color: #4caf4f;
}
/* abbos start  */
.wrapper_abbos{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 49px;
}
.wrapper_abbos_wrap{
  width: 661px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.wrapper_abbos_wrap h3{
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
}
.wrapper_abbos_wrap p{
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  color: #717171;
}
.btn_abbos{
  width: 151px;
  height: 52px;
  background-color: #4CAF4F;
  color: #fff;
  border: none;
  border-radius: 5px;
}



/* abbos end  */

/* ikromjon's start */
.text{
    align-items: center;
    justify-content: center;
}
.text h1{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0%;
    color: #4d4d4d;
    text-align: center;

}
.text p{
    width: 450px;
    height: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;

}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 31px;
    margin-top: 100px;
}
.banner img{
    width: 237px;
    height: 199px;

}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* ikromjon's end */

/* footer start */
.footer {
  max-width: 1440px;
  width: 100%;
  height: 628px;
  margin: auto;
  background-color: aliceblue;
}

.first_section_footer {
  width: 100%;
  height: 300px;
  background-color: aliceblue;
  padding: 32px 276px;
}

.footer_h2 {
  width: 787px;
  height: 152px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  margin-bottom: 32px;
  padding-left: 100px;
}

.footer_btn {
  width: 178px;
  height: 52px;
  display: flex;
  margin-left: 341px;
  align-items: center;
  justify-content: center;
  gap: 10.5px;
  border: none;
  border-radius: 4px;
  background-color: #4caf4f;
}

.footer_btn_p {
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

.fa-arrow-right {
  color: #ffffff;
}

.second_section_footer {
  width: 100%;
  height: 328px;
  background-color: #263238;
  padding: 64px;
  display: flex;
  gap: 125px;
}

.second_section_footers_text {
  width: 350px;
  height: 198px 165px;
  margin-left: 150px;
}

.footer_img {
  display: flex;
  gap: 9px;
  margin-bottom: 40px;
}

.footer_second_h2 {
  font-size: 25px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

.footer_first_p {
  width: 350px;
  height: 48px;
}

.first_footer_p {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}

.second_footer_p {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}

.footer_icons {
  display: flex;
  gap: 16px;
  margin-top: 40px;
  color: #ffffff;
  font-size: 25px;
}

.second_section_footer_second_text {
  width: 635px;
  height: 200px;
  display: flex;
  gap: 30px;
}

.footer_text_1 {
  width: 160px;
  height: 200px;
}

.footer_text_1_h2 {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 24px;
}

.footer_text_1_ps {
  width: 160px;
  height: 148px;
}

.footer_text_1_p {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 12px;
}

.footer_btn_second {
  width: 255px;
  height: 40px;
  align-items: center;
  display: flex;
  padding: 0px 10px;
  justify-content: space-between;
  background-color: gray;
  border: none;
  color: #ffffff;
  border-radius: 10px;
}

/* footer end */

.info {
  max-width: 1440px;
  width: 100%;
  height: 433px;
  display: flex;

  .info-img {
    width: 422px;
    height: 433px;
    margin-left: 150px;
  }

  .info-text {
    margin-left: 50px;

    .info-title {
      font-size: 36px;
      font-weight: 600;
      width: 600px;
      font-family: sans-serif;
      color: #4D4D4D;
      margin-top: 85px;
    }

    .info__desc {
      width: 600px;
      margin-top: 18px;
      font-size: 14px;
      font-weight: 400;
      font-family: sans-serif;
      color: #717171;
    }

    .info-btn {
      width: 151px;
      height: 52px;
      font-size: 16px;
      font-family: sans-serif;
      font-weight: 500;
      color: white;
      border: none;
      background-color: #4CAF4F;
      border-radius: 4px;
      margin-top: 40px;
      cursor: pointer;
      transition: all 0.3s;
    }

    .info-btn:hover {
      background-color: white;
      color: #4CAF4F;
      border: 1px solid #4CAF4F;
      border-radius: 5px;
    }
  }
}